html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    content: normal;
}

a {
    background-color: transparent;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0 !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
